*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    outline: none;
    border: none;
}

.main-container{
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #0a0a0a;
}

/* hero section */

.main-container .hero-section{
    position: relative;
    z-index: 1;
    max-width: 100%;
    height: 100%;
    background: url("background-2.jpg") no-repeat center;
    background-size: cover;
}

.main-container .hero-section nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 0 1.5rem;
    align-items: center;
    background: black;
    color: white;
}

.main-container .hero-section nav .login{
    padding: 1.5rem 1rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    font-size: 1rem;
    transition: all 500ms ease;
    cursor: pointer;
}

.main-container .hero-section nav .login:hover{
    background: rgb(255,255,255, 0.2);
}

.main-container .hero-section nav .login .person{
    font-size: 20px;
}

/* modal section */

.main-container .modal-overlay{
    position: fixed;
    z-index: 5;
    inset: 0;
    background: rgba(0,0,0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}

.main-container .modal-overlay .modal-box{
    width: 40rem;
}

.main-container .modal-overlay .modal-box .close{
    color: white;
    font-size: 2.5rem;
    float: right;
    clear: both;
    cursor: pointer;
}

.main-container .modal-overlay .modal-box img{
    width: 100%;
    border-radius: 12px;
}

/* login box section */

.main-container .login-overlay{
    position: fixed;
    z-index: 5;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.main-container .login-overlay .login-outer-box{
    position: relative;
    width: 30rem;
}

/* login inner section */

.main-container .login-overlay .login-outer-box .login-inner-box{
    position: relative;
    z-index: 2;
    background: white;
    border-radius: 10px;
    height:100%;
    padding: 20px;
    transition: height 500ms ease;
}

.main-container .login-overlay .login-outer-box .login-inner-box .close-div{
    width:100%;
    height:max-content;
    text-align: center;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
}

.main-container .login-overlay .login-outer-box .login-inner-box .close-div .close-login{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    cursor: pointer;
}

.main-container .login-overlay .login-outer-box .login-inner-box h2{
    text-align: center;
    margin-bottom: 1rem;
}

form {
    width: 100%;
    padding: 20px;
    background-color: #fff;
}

/* button submit section */

.submit-button {
    width: 100%;
    font-size: 1rem;
    padding: 10px;
    margin-top: 1rem;
    background-color: #e3e3e3;
    color: rgba(0, 0, 0, 0.227);
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 500ms ease;
}
.submit-button.active {
    background-color: #000;
    color: #db9a45;
}

/* input section */

.input{
    margin-bottom: 1.5rem;
}

.input span{
    font-size: 13px;
}

.error{
    color: #9e2830;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 15px 10px;
    background: #f8f6f6;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: all 200ms ease;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border: 1px solid #db9a45;
}

.main-container .login-overlay .login-outer-box .login-inner-box .cta-help{
    padding: 0 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.main-container .login-overlay .login-outer-box .login-inner-box .cta-help a{
    color: #db9a45;
}

/* label for login method */

.main-container .login-overlay .login-outer-box .login-inner-box .label-login-method{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 12px;
    color: #c0c1c4;
    font-weight: 500;
    padding: 0 20px;
    gap: 1rem;
}

.main-container .login-overlay .login-outer-box .login-inner-box .label-login-method::before{
    content: '';
    display: block;
    align-self: center;
    height: 1px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: #c0c1c4;
}

.main-container .login-overlay .login-outer-box .login-inner-box .label-login-method::after{
    content: '';
    display: block;
    align-self: center;
    height: 1px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    background: #c0c1c4;
}

/* login method icons section */

.main-container .login-overlay .login-outer-box .login-inner-box .login-method{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 30px;
    color: #c0c1c4;
    font-weight: 500;
    padding: 0 20px 1rem 20px;
    gap: 1rem;
}

.main-container .login-overlay .login-outer-box .login-inner-box .login-method a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: attr(data-color);
    border-radius: 50%;
    border: 1 solid rgba(0,0,0, 0.8);
}

.main-container .login-overlay .login-outer-box .login-inner-box .login-method a img{
    width: 21px;
    height: 18px;
    display: block;
    object-fit: contain;
}

/* login method background */

.fb-bg{
    background: #1278F3;
}
.apple-bg{
    background: #000;
}

.tw-bg{
    background: #179CF0;
}

/* chibi interaction section */

.main-container .login-overlay .login-outer-box .chibi-container{
    position: relative;
    width: 100%;
    height: 130px;
}

.main-container .login-overlay .login-outer-box .chibi-container .chibi-img{
    display: block;
    position: absolute;
    width: 150px;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    transition: all 500ms cubic-bezier(0.18,0.89,0.32,1.27);
}

.main-container .login-overlay .login-outer-box .chibi-container .chibi-img.active{
    top: 0;
}
